.holdings-container .total-stats .total-investment-wrapper .total-investment{
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}
.title-smaller{
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}

.holdings-container .total-franctional-part{
    font-size: 1.05rem !important;
}

/* .holdings-container .table-container{
    height: 60vh !important;
} */

